/* Page Layout */
.home {
  min-height: 100vh;
  background: linear-gradient(135deg, #020617, #0f172a);
  color: white;
  padding: 40px 20px;
}

/* INTRO */
.intro {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 80px;
}

.intro h1 {
  font-size: 2.8rem;
  line-height: 1.3;
}

.highlight {
  color: #38bdf8;
}

.intro p {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #94a3b8;
}

/* SKILLS */
.skills-section {
  text-align: center;
}

.skills-title .works-title {
  font-size: 2.2rem;
  margin-bottom: 40px;
  color: #38bdf8;
}

/* GRID */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}
.works-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.works-grid a {
  text-decoration: none;
  color: white;
}

/* CARD */
.skill-card {
  padding: 18px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(148, 163, 184, 0.2);
  backdrop-filter: blur(10px);

  font-size: 1rem;
  color: #e2e8f0;

  transition: all 0.3s ease;
  cursor: pointer;
}
.work-card {
  padding: 18px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(148, 163, 184, 0.2);
  backdrop-filter: blur(10px);

  font-size: 1rem;
  color: #e2e8f0;

  transition: all 0.3s ease;
  cursor: pointer;
}

/* HOVER EFFECT */
.skill-card:hover {
  background: #38bdf8;
  color: #020617;
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(56, 189, 248, 0.4);
}
.work-card:hover {
  background: #38bdf8;
  color: #020617;
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(56, 189, 248, 0.4);
}
